<style>
    h2 {
        font-style: italic;
        color:bisque;
    }

    p{
        color:antiquewhite;
    }

    .a{
        width: 40%;
    }

</style>
<div class="container-blog">
    <div class="row">
        <div class="col-md-4">
            <div class="blog-img">
                <img src="../images/blog-1.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="read-more-container"></div>
                <input type="checkbox" id="check">
                <span>Blog-DailyDay</span>
                <h2>10 ICE CREAM INSPIRED CAKES</h2>
                <p>
                    Today is National Ice Cream Day! If there’s one thing we love as much as cake around here, it’s ice
                    cream! Because cake and ice cream are the perfect pair and were destined to be together. So I
                    thought we’d celebrate this ice cream holiday with a little nod to the ultimate power couple. Today
                    we’re taking a look at some of our favorite ice cream inspired layer cakes. While you won’t find any
                    actual ice cream in these babies, you will find classic ice cream flavors baked into fluffy cake
                    layers and creamy frostings. Layered into delectable, sliceable, serve-able, non-melting cake!
                    Here’s 10 Ice Cream Inspired Cakes!
                </p>
                <label class="btn" for="check">Read More</label>
            </div>
        </div>
    </div>

    <br>
    
    <div class="row">
        <div class="col-md-4">
            <div class="blog-img ">
                <img src="../images/Anniversary-img/product-8.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="read-more-container"></div>
                <input type="checkbox" id="check">
                <span>Blog-DailyDay</span>
                <h2>S’MORES CAKE</h2>
                <p>
                    S'mores Cake - Chocolate cake with graham cracker buttercream filling,  chocolate ganache frosting and toasted marshmallow meringue. A s'mores inspired layer cake recipe by our contributor, Tessa Huff. For some, the perfect summer vacation isn’t without umbrella drinks and resort pools, but for others, nothing beats a beach bonfire or weekend campout among family and friends. Personally, I love a little of both, but living in the city does make me yearn for nature and a bit of solitude ...    
                </p>
                <label class="btn" for="check">Read More</label>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="blog-img ">
                <img src="../images/gallery/gallery-img-3.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="read-more-container"></div>
                <input type="checkbox" id="check">
                <span>Blog-DailyDay</span>
                <h2>CHOCOLATE TRUFFLE CAKE</h2>
                <p>
                    Let me tell you though, this Chocolate Truffle Cake will satisfy any chocolate lovers craving. The cake itself is dense and moist, just like proper chocolate cake should be, and the frosting…. oh that frosting! Pure chocolate heaven! It’s simple, consisting of chocolate, heavy cream, and butter, which is basically how you make a chocolate truffle, albeit with slightly different proportions. It is dreamy chocolate heaven right there.
                </p>
                <label class="btn" for="check">Read More</label>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="a">
                <img src="../images/rainbowcake.jpg" class="a" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="read-more-container"></div>
                <input type="checkbox" id="check">
                <span>Blog-DailyDay</span>
                <h2>RAINBOW MOSAIC CAKE</h2>
                <p>
                    So pretty, right? I will admit, the geometric design does take some planning (I’ll help you with that below!) but the results are so eye-catching. And once you get into the groove of placing the candies, the process is super therapeutic! It’s basically like putting together an edible puzzle, and since there’s no complicated technique involved, it’s the perfect project for any skill level. Just put on a great album, sneak a few candies every now and then, and put those pieces into place!
                </p>
                <label class="btn" for="check">Read More</label>
            </div>
        </div>
    </div>


</div>